body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player {
  background: white;
  padding: 20px;
  width: 320px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 10px gray;
}

.cover {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

.controls button {
  font-size: 20px;
  margin: 8px;
  padding: 8px;
}

#volume {
  width: 100%;
  margin: 10px 0;
}

#playlist {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

#playlist li {
  padding: 6px;
  background: #ddd;
  margin: 5px 0;
  cursor: pointer;
}

.dark {
  background: #222;
  color: white;
}
